main {
  font-family:      Arimo, sans-serif;
  color:            rgb(185, 146, 92);
  font-size:        30px;

  padding:          100px;
  background-color: #fff;

  @media (max-width: 500px) {
    padding: 50px;
  }

  @media (max-width: 400px) {
    padding: 20px;
  }
}

.illustration {
  $size: 500px;
  background:      rgb(185, 146, 92) no-repeat center;
  border-radius:   $size;

  background-size: 300px;

  width:           $size;
  height:          $size;

  @media (max-width: 1224px) {
    width:           300px;
    height:          300px;

    margin:          auto;
    margin-bottom:   20px;
    margin-top:      20px;

    background-size: 220px;
  }

  @media (max-width: 600px) {
    width:           150px;
    height:          150px;

    background-size: 110px;
  }
}

article {
  clear:           both;
  display:         flex;
  align-items:     center;
  justify-content: flex-start;
  flex-direction:  row;

  @media (max-width: 1000px) {
    display: block;
  }
}

.text {
  flex: 1;

  .left & {
    padding-left: 100px;
  }

  .right & {
    padding-right: 100px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    margin:    0;
    padding:   0 !important;
  }
}

article + article {
  margin-top: 100px;
}

#mortarboard {
  background-image: url("../img/mortarboard.svg");

  @media (min-width: 1224px) {
    background-size: 360px;
  }
}

#instructor {
  background-image: url("../img/instructor.svg");
}

#jewelry {
  background-image: url("../img/jewelry.svg");
}

#upcycling {
  background-image: url("../img/upcycling.svg");

  @media (min-width: 1224px) {
    background-size:  500px;
  }
}


#cta {
  text-align:  center;
  margin-top:  100px;
  font-size:   40px;
  font-weight: bold;

  @media (max-width: 600px) {
    font-size: 30px;
  }
}
