/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  min-height: 100vh;
  overflow-x: hidden; }

header {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /** Build a new stacking context so we can position the before and after pseudo elements. */
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 100vh;
  flex-direction: column;
  padding: 100px;
  color: #fff; }
  @media (max-height: 650px) {
    header {
      padding: 50px; } }
  @media (max-width: 1024px) {
    header {
      align-items: center;
      text-shadow: 0 0 30px #000; }
      header:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: ' ';
        background-color: rgba(255, 255, 255, 0.3);
        z-index: 1; } }

#logo {
  display: block;
  max-width: 100%;
  max-height: 100%; }

#short {
  font-family: 'Helvetica Neue';
  text-align: center;
  font-weight: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5; }
  #short h1 {
    flex-grow: 1;
    display: block;
    font-size: 50px;
    align-self: flex-end; }
    @media (max-height: 650px) {
      #short h1 {
        font-size: 30px; } }

#name {
  text-transform: uppercase;
  font-size: 80px; }
  @media (max-height: 650px) {
    #name {
      font-size: 40px; } }

#logo {
  flex-grow: 6;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px; }
  @media (max-height: 700px) {
    #logo {
      margin-bottom: 20px; } }

main {
  font-family: Arimo, sans-serif;
  color: #b9925c;
  font-size: 30px;
  padding: 100px;
  background-color: #fff; }

.illustration {
  background: #b9925c no-repeat center;
  border-radius: 500px;
  background-size: 300px;
  width: 500px;
  height: 500px; }
  @media (max-width: 1224px) {
    .illustration {
      width: 300px;
      height: 300px;
      background-size: 220px; } }

article {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; }
  @media (max-width: 1000px) {
    article {
      display: block; } }

.text {
  flex: 1; }
  .left .text {
    padding-left: 100px; }
  .right .text {
    padding-right: 100px; }
  @media (max-width: 500px) {
    .text {
      font-size: 20px;
      margin: 0;
      padding: 0 !important; } }

article + article {
  margin-top: 100px; }

#mortarboard {
  background-image: url("../img/mortarboard.svg");
  background-size: 360px; }

#instructor {
  background-image: url("../img/instructor.svg"); }

#jewelry {
  background-image: url("../img/jewelry.svg"); }

#upcycling {
  background-image: url("../img/upcycling.svg");
  background-size: 500px; }

/*# sourceMappingURL=main.css.map */
